/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body, p, ol, ul, td {
   font-family: verdana, arial, helvetica, sans-serif;
   font-size: 13px;
   line-height: 18px;
 }
 
 
 body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 180px;
  color: #333333;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.fa .fas {
  font-weight: 900;
}

a {
 color: #000;
 text-decoration: none;
 background-color: transparent;
}

img {
    vertical-align: middle;
    border-style: none;
}
 

.container {
 width: 100%;
 padding-right: 15px;
 padding-left: 15px;
 margin-right: auto;
 margin-left: auto;
} 

 /*------------------header---------------------*/
 
 .header {
   width: 100%;
   height: 70px;
   padding: 4px 30px;
   background-color: #000;
 }
 
 .header-search {
   position: relative;
 }
 
 .header-left-nav {
   float: left;
 }
 
 .header-left-nav form {
   display: inline-block;
 }
 
 .header-left-nav .form-control {
    width: 180px;
    display: inline-block;
    position: relative;
    border-radius: 2px;
    padding-left: 30px;
}

.header i {
  position: absolute;
  top: 10px;
  left: 8px;
  font-size: 18px;
}

.header-right-nav {
 float: right;
}

.btn-primary {
 background-color: #4a90e2 !important;
 color: #fff!important;
 border-color: #007bff;
 text-align: center;
}


.btn {
 display: inline-block;
 font-weight: 400;
 color: #212529;
 text-align: center;
 vertical-align: middle;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 background-color: transparent;
 border: 1px solid transparent;
 padding: .375rem .75rem;
 font-size: 1rem;
 line-height: 1.5;
 border-radius: .25rem;
 transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-secondary {
 color: #fff;
 background-color: #6c757d;
 border-color: #6c757d;
}

.ml-3, .mx-3 {
 margin-left: 1rem!important;
}

.mr-3, .mx-3 {
 margin-right: 1rem!important;
}

.mb-2, .my-2 {
  margin-bottom: .5rem!important; 
}

.mt-2, .my-2 {
 margin-top: .5rem!important;
}

.p-1 {
 padding: .25rem!important;
}

.host-icon {
 width: 65px;
 height: 65px;
 object-fit: cover;
 border-radius: 50px;
 color: #fff;
}

.footer {
 position: absolute;
    bottom: 0;
    width: 100%;
    height: 180px;
    margin-top: 64px;
    padding-top: 90px;
    background-color: #111;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
}

 /*------------------top---------------------*/

.top .top-main {
 background-image: url(https://presite-potepancamp-rails-02.herokuapp.com/assets/img_cover_top.jpg);
 background-size: cover;
 width: 100%;
 height: 650px;
}

.row {
 display: -ms-flexbox;
  display: flex; 
 -ms-flex-wrap: wrap;
  flex-wrap: wrap; 
  margin-right: -15px; 
  margin-left: -15px; 
}

.top .form {
 height: 650px;
 display: flex;
 align-items: center;
}

.top .form-area {
 background: #fff;
 padding: 24px;
 border-radius: 5px;
}

.top .form-area-title {
 font-size: 28px;
 line-height: 33px;
 letter-spacing: 1px;
}

.mb-4, .my-4 {
 margin-bottom: 1.5rem!important;
}

label {
display: block;
}

.form-control {
 display: block;
 width: 100%;
 height: calc(1.5em + .75rem + 2px);
 padding: .375rem .75rem;
 font-size: 1rem;
 font-weight: 400;
 line-height: 1.5;
 color: #495057;
 background-color: #fff;
 background-clip: padding-box;
 border: 1px solid #ced4da;
 border-radius: .25rem;
 transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.col-lg-6 {
 -ms-flex: 0 0 50%;
 flex: 0 0 50%;
 max-width: 50%;
}

.m-5 {
 margin: 3rem!important;
}

.top .section-title {
 font-size: 24px;
 margin: 35px 0;
 font-weight: bold;
}

.row {
 display: -ms-flexbox;
 display: flex;
 -ms-flex-wrap: wrap;
 flex-wrap: wrap;
 margin-right: -15px;
 margin-left: -15px;
}


@media (min-width: 576px){
.container {
 max-width: 540px;
}
}

@media (min-width: 768px){
.container {
 max-width: 720px;
}
}

@media (min-width: 992px){
.container {
 max-width: 960px;
}
}

@media (min-width: 1200px){
.container {
max-width: 1140px;
}
}